{{ ','.join(flags) }}: <em>{{ entry.title|truncate(45, False, '...', 0) }}</em>
 <small>({{ entry.node_title }})</small>
<a href='/item/{{ entry.item_id }}/'>
<i class='fa fa-external-link' style='float:right'></i>
</a>
